<!DOCTYPE html>
<html>
  <head>
    <style>
      * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
      }
      body {
        font-family: Helvetica;
        -webkit-font-smoothing: antialiased;
        background: #000070;
      }
      h2 {
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        padding: 30px 0;
      }

      /* Table Styles */

      .table-wrapper {
        margin: 10px 70px 70px;
        box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
      }

      .fl-table {
        border-radius: 5px;
        font-size: 12px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        background-color: white;
      }

      .fl-table td,
      .fl-table th {
        text-align: center;
        padding: 8px;
      }

      .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 14px;
      }

      .fl-table thead th {
        color: #ffffff;
        background: #4fc3a1;
      }

      .fl-table thead th:nth-child(odd) {
        color: #ffffff;
        background: #324960;
      }

      .fl-table tr:nth-child(even) {
        background: #f8f8f8;
      }
      .add {
        align-self: center;
        background-color: #cdcde234;
        border: none;
        color: #fff;
        padding: 15px 32px;
        margin: 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
      }
      a {
        text-decoration: none;
        color: #fff;
      }
      .div {
        display: flex;
        justify-content: center;
      }

      .footer {
        position: absolute;
        left: 50%;
        top: 90%;
        text-align: center;
        margin: auto;
        transform: translate(-50%, -50%);
      }

      .footer h5 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
      }

      /* Responsive */

      @media (max-width: 767px) {
        .fl-table {
          display: block;
          width: 100%;
        }
        .table-wrapper:before {
          content: 'Scroll horizontally >';
          display: block;
          text-align: right;
          font-size: 11px;
          color: white;
          padding: 0 0 10px;
        }
        .fl-table thead,
        .fl-table tbody,
        .fl-table thead th {
          display: block;
        }
        .fl-table thead th:last-child {
          border-bottom: none;
        }
        .fl-table thead {
          float: left;
        }
        .fl-table tbody {
          width: auto;
          position: relative;
          overflow-x: auto;
        }
        .fl-table td,
        .fl-table th {
          padding: 20px 0.625em 0.625em 0.625em;
          height: 60px;
          vertical-align: middle;
          box-sizing: border-box;
          overflow-x: hidden;
          overflow-y: auto;
          width: 120px;
          font-size: 13px;
          text-overflow: ellipsis;
        }
        .fl-table thead th {
          text-align: left;
          border-bottom: 1px solid #f7f7f9;
        }
        .fl-table tbody tr {
          display: table-cell;
        }
        .fl-table tbody tr:nth-child(odd) {
          background: none;
        }
        .fl-table tr:nth-child(even) {
          background: transparent;
        }
        .fl-table tr td:nth-child(odd) {
          background: #f8f8f8;
          border-right: 1px solid #e6e4e4;
        }
        .fl-table tr td:nth-child(even) {
          border-right: 1px solid #e6e4e4;
        }
        .fl-table tbody td {
          display: block;
          text-align: center;
        }
      }
    </style>
  </head>
  <h2>Student Details</h2>
  <div class="div">
    <button class="add">
      <a
        href="http://capstone-env.eba-jaytiqbh.ap-south-1.elasticbeanstalk.com/form"
        >Add Your Details</a
      >
    </button>
  </div>
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th>sno</th>
          <th>Name</th>
          <th>Team Name</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Domain</th>
          <th>Members Required</th>
        </tr>
      </thead>
      <tbody>
        <% if(userData.length!=0){ var i = 1; userData.forEach(function(data){
        %>
        <tr>
          <td><%=i; %></td>
          <td><%=data.name; %></td>
          <td><%=data.teamName; %></td>
          <td><%=data.email; %></td>
          <td><%=data.contact; %></td>
          <td><%=data.domain; %></td>
          <td><%=data.membersRequired; %></td>
        </tr>
        <% i++ } ) %> <% } else { %>
        <tr>
          <td colspan="10">No data found</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="footer">
    <h5>Created by Afif & Shivu</h5>
  </div>
</html>
